/* @tailwind base; */

.button{
  width: 14rem;
  cursor: pointer;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.375rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
}

.span-blue{
  color: rgb(105, 161, 246);
  text-transform: capitalize;
}

.span-hr{
  margin-bottom: 4px;
  display: inline-block;
  width: 6rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.box-border{
  box-sizing: border-box;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.h-full{
  height: 100%;
}

.w-56{
  width: 14rem;
}

.w-\[500px\]{
  width: 500px;
}

.appearance-none{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.justify-center{
  justify-content: center;
}

.bg-blue-500{
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.bg-orange-400{
  --tw-bg-opacity: 1;
  background-color: rgb(251 146 60 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-2{
  padding: 0.5rem;
}

.p-5{
  padding: 1.25rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.font-sans{
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[12px\]{
  font-size: 12px;
}

.text-\[20px\]{
  font-size: 20px;
}

.text-\[30px\]{
  font-size: 30px;
}

.text-\[50px\]{
  font-size: 50px;
}

.text-blue-500{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.hover\:outline-none:hover{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
} 


